# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio specific
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider specific
.idea/

# Configuration files
*.dotSettings.user

# Other files
*.pidb
*.booproj
*.swp
*.temp
*.tmp
*.bak
*.log
*.db

# Uncomment if publishing code to a public repository
#*.env

# file config
*.snk
nuget.key
appsettings.json
cert/
nugets/
artifacts/
docs/Nalix.Benchmarks/*.log
docs/Nalix.Benchmarks/results/*.csv
benchmarks/BenchmarkDotNet.Artifacts
nalix-docs
.dotnet/
BenchmarkDotNet.Artifacts
site/
.dotnethome/
scratch/
**/build/
.nuget/
compare_test/
build_errors*.txt